{# templates/Auction/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            {% if auctions|length >1 %}
                <div class="col"><h4 class="__pdt-20"><strong>Всего: {{ auctions|length }}</strong></h4></div>
            {% endif %}
        </div>
        {% for item in auctions %}
            <div class="item__auctions" data-id="{{ item.id }}">
                <div class="row">
                    <div class="col-6">
                        <div class="map__item"></div>
                        <h6>{{ item.dateAndTime }}</h6>
                        <strong>{{ item.reqion }}</strong>
                    </div>
                    <div class="col-6">
                        <a href="{{ item.url }}"><h5>{{ item.title }}</h5></a>
                    </div>
                </div>
                {#<div class="row">#}
                    {#<div class="col">#}
                        {#{% if item.areas|length %}#}
                            {#<table class="table-responsive-sm table-bordered">#}
                                {#<thead>#}
                                {#<tr>#}
                                    {#{% for head in item.areas.headerAreas %}#}
                                        {#<th scope="col">{{ head }}</th>#}
                                    {#{% endfor %}#}
                                {#</tr>#}
                                {#</thead>#}
                                {#<tbody>#}
                                {#{% for area in item.areas.areas %}#}
                                    {#<tr>#}
                                        {#{% for field in area %}#}
                                            {#<td>{{ field }}</td>#}
                                        {#{% endfor %}#}
                                    {#</tr>#}
                                {#{% endfor %}#}
                                {#</tbody>#}
                            {#</table>#}
                        {#{% endif %}#}
                    {#</div>#}
                {#</div>#}
            </div>
        {% endfor %}
        <div class="row"><div class="col"><div id="map" class="d-non"></div></div></div>
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/auctions-loading.js') }}"></script>
{% endblock %}